<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- 
  The shape and size of the adapter is based on Heggem & Wahl's urdf-descriptions of the KMR found at 
  https://github.com/ninamwa/kmriiwa_ws/blob/eloquent/kmr_bringup/urdf/kmriiwa.urdf
-->

  <xacro:macro name="gripper_adapter" params="parent">

    <joint name="joint_a7_adapter" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.005"/>
      <parent link="${parent}"/>
      <child link="gripper_adapter"/>
    </joint>

    <link name="gripper_adapter">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.01" radius="0.0375" />
        </geometry>
        <material name="aluminum"/>
      </visual>
    </link>

  </xacro:macro>
</robot>