<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kmr">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import kmr urdf file -->
    <xacro:include filename="$(find kmr_description)/urdf/robot/kmr_simple_camera_wo_wheels.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="kmr.ros2_control.xacro" />


    <xacro:kmr_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
